<?xml version="1.0"?>
<ruleset name="App">
    <arg name="encoding=UTF-8"/>
    <arg name="report=full"/>
    <arg name="severity=1"/>
    <arg name="extensions=php"/>

    <file>./src</file>
    <file>./tests</file>

    <arg name="colors" />
    <arg value="p" />

    <rule ref="CakePHP"/>
</ruleset>
